#Navbar1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

#Navbar1 h1
{
    /* margin: 1rem 2rem; */
    margin-top: 1rem;
    margin-left: 2rem;
    color:  yellow;
    font-size: 2.5rem;
    border-radius: 1rem;
}

.option1
{
    display: flex;
    align-items:center ;
    list-style: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

.option1 li
{
    color:  white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    transition: all 0.7s ease-in;
    border-radius: 1rem;
    margin: 0rem 0.5rem;
}

/* .option1 li a
{
    color: white;
    padding: 1rem 0rem;
    font-size: 1.5rem;
    transition: all 0.7s ease-in;
    border-radius: 1rem;
    margin: 0rem 0.5rem;
    text-decoration: none;
} */

/* .option li a:hover
{
    color: rgb(132, 0, 255);
} */

.option1 li:hover
{
    color: rgb(132, 0, 255);
    box-shadow: 2px 2px 8px white;
}
