*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body
{
    background-image: url(./components/gif4.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(0.5rem);
    font-family: 'Poppins', sans-serif;
}